@import url('./fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE STYLES */
@layer base {
  body {
    @apply font-inter text-base;
  }
  h1 {
    @apply font-inter text-3xl lg:text-[3.9rem] lg:leading-[90.224px];
  }
  h2 {
    @apply font-inter text-3xl lg:text-6xl;
  }
  h3 {
  }
  h4 {
    @apply font-inter text-xl lg:text-3xl;
  }
  p {
    @apply text-base font-normal;
  }
  .p_small {
  }
  a {
  }
  button {
  }
  .hero-bg {
    @apply bg-[url('/assets/images/hero-bg.jpg')];
  }
  .bg-style {
    @apply bg-cover bg-center bg-no-repeat;
  }
  .bg-color {
    background-color: rgba(57, 219, 74, 0.08);
    border-radius: 40px;
    border: 1px solid #d1d1d1;
  }

  .outlet-bg {
    background: rgba(57, 219, 74, 0.08);
  }

  .sweets-card {
    border-radius: 40px;
    border: 1px solid #d1d1d1;
  }

  .sb {
    @apply border border-red-500;
  }

  .container {
    margin: 0 auto;
    width: calc(100% - 50px);
    max-width: 1320px;
  }

  @media (min-width: 960px) {
    .container {
      width: calc(100% - 160px);
    }
  }

  @media (min-width: 1440px) {
    .container {
      width: calc(100% - 180px);
    }
  }
}

/* CUSTOM COMPONENT STYLES */
@layer components {
}

/* CUSTOM UTILITIES STYLES */
@layer utilities {
}
